            <header id="header">
                <div class="header">
                    <section id="topArea">
                        <div class="searchWrap">
                            <h1 module="Layout_LogoTop"><a href="/">{$mobile_title}</a></h1>
                            
                            <div class="headerUserIcon">
                                <p class="search"><button type="button"><i class="xi-search"></i></button></p> 
                                <p class="category">
                                    <div class="fold">
                                        <div class="toggleBtn">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </section>
                    <!--@import(/layout/basic/search.html)-->
                </div>
            </header>